.nav {
  height: 80px;
  padding: 20px;
  background:black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 30px;
}

.ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  list-style: none;
}

.li {
  margin: 5px 15px;
 
}